@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_div {
    background-image: url('https://previews.123rf.com/images/ariadnas/ariadnas1709/ariadnas170900024/85193773-seamless-nature-pattern-with-cute-twigs-in-green-color-foliage-background-with-leaves-in-chaotic-man.jpg');
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mid_div {
    width: 45%;
    background-color: #855ba4;
    min-height: 60vh;
    border-radius: 30px;
    box-shadow: 3px 5px 40px -2px black;
}

@media only screen and (max-width: 430px) {
    .mid_div {
        width: 99%
    }
  }

@media only screen and (max-width: 750px) {
    .mid_div {
        width: 85%
    }
  }

.heading {
    margin-bottom: 70px;
    font-size: 50px;
    color: #855ba4;
    opacity: 4;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    text-shadow: 2px 2px 4px black;
}

.addItems {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.deleteBtn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #2e3933;
}

.deleteBtn:hover {
    color: #7AA45B;
}

.item {
    color: #7AA45B;
    list-style-type: none;
    margin: 20px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
}

.item .list {
    text-transform: capitalize;
}

.icon {
    box-shadow: 2px 2px 20px green; 
    border-radius: 40px;  
    margin-right: 10px;
}

.incDec {
    display: flex;
    justify-content: center;
    align-items: center;
}